<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <%- include('../components/head') %>
    </head>

    <body>
        <%- include('../components/header') %>

        <main class="main-content">
            <%- body %>
        </main>

        <script src="/js/script.js"></script>
    </body>
</html>